<div class="navbar navbar-default navbar-fixed-top animated slideInDown">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Social Network</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul ng-if="authService.isAnonymous()" class="nav navbar-nav">
        <li><a href="#/">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
      </ul>
      <ul ng-if="authService.isNormalUser()" class="nav navbar-nav">
        <li><a href="#/">Home</a></li>
        <li><a href="#/user/ads">My Ads</a></li>
        <li><a href="#/user/ads/publish">Publish New Ad</a></li>
        <li><a href="#/user/profile">Edit Profile</a></li>
      </ul>
      <ul ng-if="authService.isAdmin()" class="nav navbar-nav">
        <li><a href="#/admin/ads">Ads</a></li>
        <li><a href="#/admin/users">Users</a></li>
        <li><a href="#/admin/categories">Categories</a></li>
        <li><a href="#/admin/towns">Towns</a></li>
      </ul>
      <ul ng-if="authService.isLoggedIn()" class="nav navbar-nav navbar-right">
        <li><a href="#/user/ads">{{authService.getCurrentUser().username}}</a></li>
        <li><a>{{authService.getCurrentUser().image}}</a></li>
        <li><a ng-click="logout()" class="link">Logout</a></li>
      </ul>
    </div>
  </div>
</div>